/*设置头部*/
.he_top{
	width:100%;
	height:30px;
	background:#ddd;
	color:#444c4f;
	font-size:14px;
	text-align:center;
}
.he_top>.w{
	margin:0 auto;
	width:1000px;
	height:30px;
}
.he_top>.w>ul{
	float:left;
}
.he_top>.w>ul>li{
	float:left;
	width:56px;
	height:30px;
	margin-right:20px;
	padding-top:10px;
	box-sizing:border-box;
}
.he_top>.w>.zi{
	float:right;
}